APP_KEY=base64:8GGoAU3xbLkuJAQLo296PadoO095oYLGy1spR6RpyRM=

DB_HOST=mobifi_db
DB_PORT=5432
DB_DATABASE=mobifi_ticketing
DB_USERNAME=root
DB_PASSWORD=password

PRIVATE_KEY=
MOBIFI_WALLET_ADDRESS=
SEPOLIA_TESTNET_URL=

UNLOCK_PROTOCOL_SEPOLIA_ADDRESS=0x36b34e10295cCE69B652eEB5a8046041074515Da